<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário T.I. - Listar Tablets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleLista.css') }}"/>
</head>
<body>
    <div class="container">
        <h1 class="title">Inventário T.I.</h1>

        <h2 class="section-title">Dispositivos - Tablets</h2>

        <table class="device-table">
            <thead>
                <tr>
                    <th>RAM</th>
                    <th>CPU</th>
                    <th>Sistema Operacional</th>
                    <th>Status</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui será inserido dinamicamente os Tablets -->
                {% for tablet in tablets %}
                <tr>

                    <td>{{ tablet.hardware.ram }}</td>
                    <td>{{ tablet.hardware.cpu }}</td>
                    <td>{{ tablet.hardware.sistema_operacional }}</td>
                    <td>{{ tablet.hardware.status }}</td>
                    <td>{{ tablet.marca }}</td>
                    <td>
                        <form action="{{ url_for('removerTablet', id=tablet.id_hardware) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-delete">Remover</button>
                        </form>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">Nenhum Tablet registrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="back-button">
            <button onclick="window.location.href='/'">Voltar ao Menu</button>
        </div>
    </div>
</body>
</html>
