<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário T.I. - Dados do Dispositivo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleLista.css') }}"/>
</head>
<body>
    <div class="container">
        <h1 class="title">INVENTÁRIO T.I.</h1>

        <div class="section-title">Dados do Dispositivo</div>

        <div class="device-type">LAPTOP</div>

        <table class="device-table">
            <thead>
                <tr>
                    <th>RAM</th>
                    <th>CPU</th>
                    <th>Sistema Operacional</th>
                    <th>Status</th>
                    <th>Marca</th>
                    <th>Ações</th> <!-- Coluna para os botões de ação -->
                </tr>
            </thead>
            <tbody>
                {% for laptop in laptops %}
                <tr>
                    <td>{{ laptop.hardware.ram }}</td>  <!-- Acessando o hardware -->
                    <td>{{ laptop.hardware.cpu }}</td>  <!-- Acessando o hardware -->
                    <td>{{ laptop.hardware.sistema_operacional }}</td>  <!-- Acessando o hardware -->
                    <td>{{ laptop.hardware.status }}</td>  <!-- Acessando o hardware -->
                    <td>{{ laptop.marca }}</td>
                    <td>
                        <form action="{{ url_for('removerLaptop', id=laptop.id_hardware) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-delete">Remover</button>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="back-button">
            <button onclick="window.location.href='/'">Voltar ao Menu</button>
        </div>
    </div>
</body>
</html>
