<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario T.I.</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
  <div class="container">
    <h1>Inventario T.I.</h1>
    <div class="card">
      <h2>Gerência de Dispositivos</h2>
      <h3>Listar</h3>
      <div class="buttons">
        <button onclick="window.location.href='listarHardware'">Hardware</button>
        <button onclick="window.location.href='listarPeriferico'">Periferico</button>
      </div>
      <button class="logs-btn" onclick="window.location.href='/'">Voltar</button>
</body>
</html>